{{ 'flex-image-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
.flex-image-text-{{ section.id }}-ctr {
    display: block;
    background-color: {{ section.settings.bg_color }};
}

.flex-image-text-{{ section.id }}-image-div {
    width: 100%;
    line-height: 0; /* Add this to remove space under image */
}

.flex-image-text-{{ section.id }}-image-div img {
    width: 100%;
    height: auto;
    display: block; /* Add this to remove space under image */
    vertical-align: top; /* Add this to remove space under image */
}

.flex-image-text-{{ section.id }}-text-div {
    width: 100%;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-image-text-{{ section.id }}-text-div * {
    color: {{ section.settings.text_color }};
}

.flex-image-text-{{ section.id }}-button {
  margin-top: 30px;
  padding: 7px 16px;
  background-color: #ffffff00;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 40px;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .flex-image-text-{{ section.id }}-ctr {
    display: flex;
    justify-content: center;
    align-items: stretch; /* Changed from center to stretch */
    flex-direction: {{ section.settings.image_position }};
  }
  
  .flex-image-text-{{ section.id }}-text-div {
    width: 50%;
  }

  .flex-image-text-{{ section.id }}-image-div {
    width: 50%;
  }
}

/* PADDING */
.section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
}
{%- endstyle -%}

<div class="page-width section-{{ section.id }}-padding">
    <div class="flex-image-text-{{ section.id }}-ctr">
        <div class="flex-image-text-{{ section.id }}-image-div">
            {% if section.settings.image != blank %}
            <img src="{{ section.settings.image | image_url: height: 640 }}"
                alt="{{ section.settings.image.alt | escape }}" loading="lazy"
                width="{{ section.settings.image.width }}" height="{{ section.settings.image.height }}" class="">
            {% else %}
            {{ 'product-1' | placeholder_svg_tag }}
            {% endif %}
        </div>
        <div class="flex-image-text-{{ section.id }}-text-div">
            <span class="rich-text__text rte scroll-trigger animate--slide-in">{{ section.settings.p }}</span>
            {% if section.settings.link != blank %}
            <a class="scroll-trigger animate--slide-in flex-image-text-{{ section.id }}-button" href="{{ section.settings.link }}">{{ section.settings.btn_text }}</a>
            {% endif %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Flex Image + Text",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Text Area BG Color",
      "default": "#fafafa"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000000"
    },
    {
      "type": "richtext",
      "id": "p",
      "default": "<p>Add your paragraph here</p>",
      "label": "Add your paragraph here"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "Learn More"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button Link"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image Position Desktop",
      "options": [
        {
          "value": "row",
          "label": "Left"
        },
        {
          "value": "row-reverse",
          "label": "Right"
        }
      ],
      "default": "row"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Flex Image + Text"
    }
  ]
}
{% endschema %}